@import "tailwindcss";

:root {
  --background: #F2F0D5;
  --foreground: #444444;
}

@theme{
  --color-flockgreen: #668c4a;
  --color-flockgreen2: #A6BF4B;
  --color-flockbeige: #F2F0D5;
  --color-flockyellow: #F2C53D;
  --color-flockblack: #444444;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
