@import "tailwindcss";

:root {
  --background: #f2f0d5;
  --foreground: #444444;
}

@theme {
  --color-flockgreen: #668c4a;
  --color-flockgreen2: #a6bf4b;
  --color-flockbeige: #f2f0d5;
  --color-flockyellow: #f2c53d;
  --color-flockblack: #444444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090909;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


