@import "tailwindcss";

:root {
  --background: #fbf1c7;
  --foreground: #282828;
}

@theme {
  --color-flockgreen: #668c4a;
  --color-flockgreen2: #a6bf4b;
  --color-flockbeige: #f2f0d5;
  --color-flockyellow: #f2c53d;
  --color-flockblack: #444444;
  --color-gruvbg: #fbf1c7;
  --color-gruvfg: #282828;
  --color-gruvgreen: #98971a;
  --color-gruvyellow: #d79921;
  --color-gruvorange: #d65d0e;
  --color-gruvred: #cc241d;
  --color-gruvblue: #458588;
  --color-gruvpurple: #b16286;
  --color-gruvaqua: #689d6a;
  --color-gruvgray: #928374;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282828;
    --foreground: #fbf1c7;
  }
  @theme {
    --color-gruvbg: #282828;
    --color-gruvfg: #ebdbb2;
    --color-gruvgreen: #98971a;
    --color-gruvyellow: #d79921;
    --color-gruvorange: #d65d0e;
    --color-gruvred: #cc241d;
    --color-gruvblue: #458588;
    --color-gruvpurple: #b16286;
    --color-gruvaqua: #689d6a;
    --color-gruvgray: #928374;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
